.video-player-widget {
  position: fixed;
  bottom: 56px;
  right: 0px;
  width: 367px;
  height: 206px;

  border: 1px solid #FFF;
  z-index: 2;
  background-color: white;
}

.action-bar {
  text-align: center;
  width: 100%;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  background-color: rgb(244, 67, 54);
}
