<div class="container-panel">
  <videos-search-bar></videos-search-bar>

  <div class="content">
    <videos-list (onVideoClicked)="onVideoClicked($event)"></videos-list>
  </div>
</div>

<div class="video-player-widget">
  <app-video [id]="id" width="367" height="206"></app-video>
</div>

<div class="fixed-action-btn toolbar action-bar active">
  <ul>
    <li class="waves-effect waves-light"><a href="#">Welcome test room !</a></li>
    <li class="waves-effect waves-light"><a href="#!"></a></li>
    <li class="waves-effect waves-light"><a href="#!"></a></li>
    <li class="waves-effect waves-light"><a href="#!" (click)="hideVideoPlayerWidget()"><i class="material-icons">flip_to_front</i></a></li>
  </ul>
</div>
