.row-container {
    padding-top: 10px;
}

.card {
  display: inline-block;
  width: 250px;
  margin-left: 7px;
}

.card-title {
  width:100%;
  background: rgba(0, 0, 0, 0.5);
}

.threelines {
  font-size: 1em;
  height: 3em;
  overflow: hidden;
}

@media screen and (max-width: 703px) {
    .card {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 150px;
    }
}

@media screen and (max-width: 220px) {
    .card {
        width: 100px;
    }
}
