<div class="row row-container">
	<div class="center col s12">
		<div class="row">

			<div class="card" *ngFor="let video of videos">
        <div class="card-image">
          <img src="{{ video.snippet.thumbnails.medium.url }}">
					<!--
					<span class="card-title"></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
					-->
				</div>
        <div class="card-content">
          <p>{{ video.snippet.title }}</p>
        </div>
      </div>

		</div>
	</div>
</div>
