<ul id="slide-out" class="side-nav" style="transform: translateX(0%);">
  <!-- Modal Trigger -->
  <li><a class="waves-effect waves-light btn modal-trigger" (click)="openModal()">Login</a></li>
  <li><div class="divider"></div></li>
  <li><a routerLink="/"><i class="material-icons">home</i>Page d'accueil</a></li>
  <li><a routerLink="/room">Rooms</a></li>
</ul>

<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper">
        <div class="row" >
          <div class="col s1">
            <a href="#" materialize="sideNav" data-activates="slide-out"
                [materializeActions]="sidenavActions"
                [materializeParams]="[{edge: 'left', closeOnClick: true, draggable: true}]"
                class="button-collapse show-on-large">
              <i class="red-text material-icons">menu</i>
            </a>
          </div>
          <div class="col s11">
            <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm" autocomplete="off" novalidate>
              <div class="input-field col s6 s12 red-text">
                <i class="red-text material-icons prefix">search</i>
                <input name="search" #search="ngModel" ngModel required type="text" placeholder="search" class="red-text" >
              </div>
            </form>
          </div>
        </div>
    </div>
  </nav>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Login</h4>
    <div class="row">
      <div class="input-field col s6">
        <input #loginInput type="text">
        <label class="active" for="login">Name</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat"
       (click)='submit(loginInput.value)'>Ok</a>
  </div>
</div>
